In [1]:
import pandas as pd

In [20]:
trayectos = pd.read_csv("trayectos.csv", index_col=0)

In [21]:
prueba = trayectos[trayectos["Nombre_rutina"].str.contains("prueba")]
prueba

,Nombre_rutina,Id_usuario,Lugar_salida,Lugar_llegada,Hora_salida,Hora_llegada,Motivo,Dia,Disponibilidad_coche,Viejo_trayecto
69990,prueba_1,913690,"39.47679696739808, -0.3462473060000242","39.405576, -0.406062",7:30,8:00,Estudios,Lunes,Coche y pasajero,Coche
69991,prueba_2,156939,"39.478350, -0.347192","39.405576, -0.406062",7:30,8:00,Estudios,Lunes,Coche y pasajero,Coche
69992,prueba_3,156939,"39.478350, -0.347192","39.404948, -0.406213",7:30,8:00,Estudios,Lunes,Coche y pasajero,Coche
69993,prueba_4,156939,"39.478350, -0.347192","39.404948, -0.406213",7:30,8:00,Trabajo,Lunes,Coche y pasajero,Coche
69994,prueba_5,156939,"39.478350, -0.347192","39.404948, -0.406213",7:20,8:00,Trabajo,Lunes,Coche y pasajero,Coche
69995,prueba_6,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,8:00,Trabajo,Lunes,Coche y pasajero,Coche
69996,prueba_7,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:50,Trabajo,Lunes,Coche y pasajero,Coche
69997,prueba_8,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Coche y pasajero,Coche
69998,prueba_9,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Coche,Coche
69999,prueba_10,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Pasajero,Coche

In [22]:
trayectos

,Nombre_rutina,Id_usuario,Lugar_salida,Lugar_llegada,Hora_salida,Hora_llegada,Motivo,Dia,Disponibilidad_coche,Viejo_trayecto
0,[Indefinido]_lunes,111831,"39.50122800718866, -0.41927966292614793","39.44984907483212, -0.3923317810900036",13:50,14:12,Otro,Lunes,Pasajero,Tren
1,Estudios_universidad_miercoles,982437,"39.47448582694143, -0.36973136061629475","39.52827350270283, -0.3752537306405829",7:00,07:24,Estudios,Miercoles,Coche y pasajero,Tren
2,Deporte_futbol_miercoles,220786,"39.487288123748414, -0.3832181679770428","39.46320872584864, -0.378861657627463",14:15,14:25,Deporte,Miercoles,Pasajero,Bus
3,Deporte_tenis_viernes,362659,"39.464666255889306, -0.378869876395067","39.48122685723318, -0.357178565188734",15:25,15:35,Deporte,Viernes,Coche y pasajero,Coche
4,Ocio_viernes,693935,"39.41972386577771, -0.3892850451039514","39.45630189278762, -0.3795688513211948",07:50,08:09,Ocio,Viernes,Coche,Tren
...,...,...,...,...,...,...,...,...,...,...
69995,prueba_6,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,8:00,Trabajo,Lunes,Coche y pasajero,Coche
69996,prueba_7,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:50,Trabajo,Lunes,Coche y pasajero,Coche
69997,prueba_8,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Coche y pasajero,Coche
69998,prueba_9,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Coche,Coche
69999,prueba_10,156939,"39.478350, -0.347192","39.404948, -0.406213",7:25,7:55,Trabajo,Lunes,Pasajero,Coche

In [19]:
def match(df, fila):
    dia = df.at[fila, 'Dia']
    match_dia = df[df['Dia'] == dia]
    
    coche = df.at[fila,'Disponibilidad_coche']
    print(coche)
    if coche == "Pasajero":
        match_dia = match_dia[~(match_dia['Disponibilidad_coche'] == "Pasajero")]
    return match_dia

fila_de_prueba = 1
filas_coincidentes = match(trayectos, fila_de_prueba)
print(filas_coincidentes)

Coche y pasajero
                        Nombre_rutina  Id_usuario  \
1      Estudios_universidad_miercoles      982437
2            Deporte_futbol_miercoles      220786
6                      Ocio_miercoles      960397
11             Deporte_yoga_miercoles      468391
14                     Ocio_miercoles      835959
...                               ...         ...
57952               Trabajo_miercoles      826614
57953               Trabajo_miercoles      407865
69981               Trabajo_miercoles      960397
69983              Estudios_miercoles      835959
69984               Trabajo_miercoles      349018

                                   Lugar_salida  \
1       39.47448582694143, -0.36973136061629475
2       39.487288123748414, -0.3832181679770428
6        39.46978645108054, -0.4179520985290079
11        39.526726956871, -0.39077861302441524
14     39.487553734799796, -0.36463091383153556
...                                         ...
57952    39.46822656539948, -0.3373598759588439
57953    39.39955659785613, -0.3999319745940235
69981    39.46978645108054, -0.4179520985290079
69983  39.487553734799796, -0.36463091383153556
69984  39.490004843319426, -0.34389901865950456

                                  Lugar_llegada Hora_salida Hora_llegada  \
1        39.52827350270283, -0.3752537306405829        7:00        07:24
2         39.46320872584864, -0.378861657627463       14:15        14:25
6       39.468448947706165, -0.3500470946670726       12:30        12:50
11      39.478809722520595, -0.3632138391269326       20:30        20:51
14      39.46048179941532, -0.38206782498837605       16:45        16:58
...                                         ...         ...          ...
57952    39.48203490446445, -0.3856509221335978       10:05        10:20
57953   39.43229236870275, -0.42049959837660256       15:15        15:33
69981   39.468448947706165, -0.3500470946670726       12:30        12:50
69983   39.46048179941532, -0.38206782498837605       16:45        16:58
69984  39.480983938516864, -0.36545988761474574       12:10        12:26

         Motivo        Dia Disponibilidad_coche Viejo_trayecto
1      Estudios  Miercoles     Coche y pasajero           Tren
2       Deporte  Miercoles             Pasajero            Bus
6          Ocio  Miercoles             Pasajero          Coche
11      Deporte  Miercoles     Coche y pasajero          Coche
14         Ocio  Miercoles     Coche y pasajero          Coche
...         ...        ...                  ...            ...
57952   Trabajo  Miercoles             Pasajero          Coche
57953   Trabajo  Miercoles     Coche y pasajero          Coche
69981   Trabajo  Miercoles             Pasajero          Coche
69983  Estudios  Miercoles     Coche y pasajero          Coche
69984   Trabajo  Miercoles                Coche          Coche

[12333 rows x 10 columns]